/* Daniel */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.c-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    height: 69px;
    width: 100%;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 3rem;
    color: #FFFFFF;
}

.c-main {
    margin-top: 95px;
    width: clamp(375px, 95%, 1100px);

    background-color:aliceblue;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.c-main__database {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.c-main__quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin: 5px 10px;

    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;

    cursor:pointer;
}

.c-quizz__title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.u-all-center {
    display: grid;
    place-content: center;
}

.is-freezed {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;
    
    overflow: hidden;
}









.c-play {
    position:absolute;
    top:0;
    margin: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

    background-color: green;
}

.c-play__button-close {
    background-color: blue;
    width: 5rem;
}



/* Andréia */
.c-main__create{
    width: 340px;
    height: 181px;
    border-style:dashed;
     margin:20px;
     color:rgba(212, 212, 212, 1);
    border-width: 1px;
    border-radius: 5px;
}











/* Igor */

