

/* Daniel */

.c-header {
    position: fixed;
    left: 0;
    top: 0;

    height: clamp(69px, 121px);
    width: 100%;
}

.u-all-center {

}

/* Andréia */
.c-main__create-quizz{
    width: 340px;
    height: 181px;
    border-style:dashed;
     margin:20px;
     color:rgba(212, 212, 212, 1);
    border-width: 1px;
    border-radius: 5px;
}
/* Igor */

