@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    background: #FAFAFA;
}

.c-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    height: 69px;
    width: 100%;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 3rem;
    color: #FFFFFF;
}

.c-header h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    margin: auto;
}

.c-main {
    margin-top: 95px;
    width: clamp(375px, 95%, 1100px);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.c-main__title {
    width: 100%;
    font-weight: 700;
    margin: 2rem 0 1.5rem 10px;
}

.c-main__create {
    width: 100%;
    margin: max(5%, 0px);

}

.c-main__box {
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    height: 181px;
    width: clamp(340px, 50%, 1050px);
    background-color: #FAFAFA;
    flex-direction: column;
}
.c-main__box h1 {
    text-align: center;
    color: #B9B9B9;
    padding: 0 25%;
}
.c-main__button {
    width: 150px;
    height: 40px;
    margin: 20px 25% 0 25%;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    cursor:pointer;
}

.c-main__header-creations ion-icon {
    color: #EC362D;
    font-size: 30px;
    margin-left: 10px;
    cursor:pointer;
}

.c-main__header-creations h1 {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
}

.c-main__header-creations {
    display: flex;
    justify-content: flex-start;
}

.c-main__creations-data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: data;
}

.c-main__creations {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}



.c-main__database {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.c-main__quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin: 5px 10px;

    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;

    cursor:pointer;
}

.c-quizz__title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFFFFF;
}
















.c-play {
    position:absolute;
    top:0;
    left: 0;
    margin-top: 69px;

    width: 100%;
    min-width: 389px;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;

    background: #FAFAFA;
}

.c-play__header{
    width: 100%;
    height: clamp(146px, 20vw, 227px);
    max-height: 227px;

    background-repeat: no-repeat;
    background-size: 100%;
}

.c-play__header h1 {
    color: #FFFFFF;
    font-size: clamp(20px, 3.5vw, 39px);
}

/* max() clamp() min() */

.c-play__restart-button {
    margin: 20px 0;
    width: clamp(220px, 30vw, 260px);
    height: clamp(44px, 30vw, 52px);
    background: #EC362D;
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}
.c-play__box-question, .c-play__result {
    margin: 20px 0;
    width: min(100%, 676px);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}


.c-play__result img, .c-play__result p {
    word-wrap: break-word;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.c-play__result-content {
    width: 100%;
    display: flex;
}

.c-play__question, .c-play_result-title {
    height:  clamp(89px ,20vw, 138px);
    background: #434CA0;
    margin: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

.c-play_result-title {
    height:  clamp(89px ,20vw, 99px);
    background: #434CA0;
    margin: 10px;
}

.c-play__box-options {
    width: 100%;
    display: flex;
}
.c-play__option {
    box-sizing: border-box;

    width: clamp(164px ,44vw, 308px);
    height: clamp(113px, 30vw, 175px);

    background-color: yellow;
    margin: 10px;
    background-size: 100%;
    cursor: pointer;

}

.c-play__box-option p {
    word-break: break-word;
    margin: 10px;

}

.c-play__button-close {
    margin-bottom: 50px;
    color: #818181;
    text-align: center;

    cursor: pointer;
}


















.u-pointer-events-none {
    pointer-events: none !important;
}

.u-all-center {
    display: flex;
    place-content: center;
    align-items: center;
}

.is-freezed {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;
    
    overflow: hidden;
}

.is-hidden {
    display: none;
}

.c-forms {
    position:absolute;
    top:0;
    margin: 0;

    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    background-color: green;
}

@media (min-width: 1157px) {
    .c-main__header-creations {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .c-play__result-content {
        flex-direction: column;
    }
    .c-play__result img, .c-play__result p {
        width: auto;
        margin: 10px;
    }
}