@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


.c-forms{
  background-color: #E5E5E5;
  /* arrumar a altura pra ser a pagina toda*/
  height: 1000px;
}


.info_gerais,
.perguntas,
.niveis {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.js_article{
  width: 100%;
  display: flex;
  flex-direction: column;
    
    
}


.js_article h1{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.js_article div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 21px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  
}

.js_article input{
  width: 90%;
  height: 45px;

  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-style: italic;
  
  margin-bottom: 9px;
}


.js_button{
  width: 80%;
  height: 54px;  
  background-color: red;
  color: white;
  border-radius: 15px;
  margin-top: 28px;
}


/* FAZER PARA DESKTOP*/ 
@media(min-width:1100px){

}

.is-hidden{
  display: none;
}