@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


.c-forms{
  background-color: #E5E5E5;
  /* arrumar a altura pra ser a pagina toda*/
  height: 100%;
  margin-top: 69px;
}


.info_gerais,
.perguntas,
.niveis {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.js_article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}


.js_article h1{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-bottom: 27px;
  padding-top: clamp(40px, 10vw, 71px);
  
}

.js_article div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px;

  width: 100%;
  max-width: 600px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
  box-sizing: border-box;
}

.c-forms__forms-questions div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px;

  width: 100%;
  max-width: 600px;
  background: #FFFFFF;
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
  box-sizing: border-box;
}

.js_article label{
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.js_article input{
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  display: flex;


  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-style: italic;
  
  margin-bottom: 9px;
}

.fundo_perguntas{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.crie_perguntas_txt{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-bottom: 27px;
  padding-top: clamp(40px, 10vw, 71px);
}

.js_button{
  width: min(80%, 370px);
  height: 54px;  
  background-color: #EC362D;
  color:#FFF5F4;
  border-radius: 15px;
  margin-top: clamp(30px, 10vw, 85px);
}

.is-hidden{
  display: none;
}

/* FAZER PARA DESKTOP*/ 
@media(min-width:1100px){

}

